* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Roboto Condensed', sans-serif;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.first-block {
    width: 32%;
    /* border-style: solid;
    border-color: black; */
    margin-top: 30px;
    background-image: linear-gradient(#2EB086, #219F94);
    height: 524px;
    margin-left: 46px;
    border-radius: 6px;
    box-shadow: 0px 8px 10px gray;
}
.second-block {
    width: 61%;
    /* border-style: solid;
    border-color: black; */
    margin-top: 30px;
    height: 524px;
    margin-right: 46px;
    border-radius: 6px;
    
    box-shadow: 5px 8px 10px gray;
}
.temp {
    font-size: 78px;
   
}
.country {
    font-size: 20px;
}
.temp-block {
    margin-top: 302px;
    margin-bottom: 75px;
    margin-left: -130px;
    color: white;
}
.forecast-head {
    margin-top: 20px;
    margin-left: 30px;
}
.date-heading {
    margin-top: 30px;
    margin-left: 30px;
    color: white;
    
}
.icon {
    margin-left: 20px;
    
}
hr {
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 20px;
}
.icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}
.bottom {
    margin-top : 50px;
    margin-left: 30px;
}
.button1 {
    margin-left: 20px;
    text-decoration: none;
}
.search {
    text-align: center;
    margin-top: 10px;
    
}
.inputField {
    width : 85%;
    height: 66px;

}